* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* GLOBAL */
a {
  text-decoration: none;
  color: #328e6e;
}

.link {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.link:hover {
  font-weight: bold;
}

h1 {
  font-size: 46px;
  font-weight: normal;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

i {
  color: #328e6e;
}

.text-lg {
  font-size: 24px;
}

.text-md {
  font-size: 20px;
}

.flex-c {
  display: flex;
  justify-content: space-between;
}

.box-s {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* CONTENEDORES */

.container {
  margin: 30px 5%;
  padding: 30px 5%;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.container-c {
  /*Contenedor columnas || Contenedor filas*/
  height: 100vh;
  padding: 30px 5%;
}

.container-c {
  flex-direction: column;
}

/* BUTTONS */

.btn {
  padding: 8px 26px;
  font-size: 18px;
  font-weight: bold;
  color: #e1eebc;
  background-color: #328e6e;
  border-radius: 6px;
  border: 2px solid #328e6e;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #aae8ac;
  color: #328e6e;
  border: 2px solid #328e6e;
  cursor: pointer;
}

/* NAVBAR */

.navbar {
  background-color: #ffffff;
  color: white;
  padding: 20px 15px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}

.two-buttons {
  display: flex;
  gap: 20px;
}

/*---VISTA INICIO---*/
/* BANNER */
.banner {
  background-image: url("../imgs/imagenPrincipal.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 10px;
  padding: 5%;
  flex-direction: column;
  height: 350px;
}

/* HOME CARDS */
.card {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #328e6e;
  padding: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.card i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #328e6e;
  padding: 15px;
  font-size: 35px;
  width: 80px;
  height: 80px;
}

/*---VISTA LOGIN/REGISTRO---*/
.registro-top,
.text-md {
  text-align: center;
}

.login-form,
.registro-form {
  flex-direction: column;
  /* gap: 20px; */
}

/* LOGIN */

/* REGISTRO */
.registro-form {
  /* padding: 5%; */
}

.form-name {
  display: flex;
  gap: 20px;
}

.client-data {
  display: flex;
  gap: 20px;
}

.client-data-input input,
.client-data-input select {
  margin-top: 5px;
}
/* .form-fNacimiento label,
.form-sexo label {
  width: 40%;
} */

/* .form-fNacimiento input,
.form-sexo select {
  height: 40px;
  width: 40%;
} */

/* .peso,
.altura {
  width: 50%;
} */

/* LOGIN LEFT*/
.login-left {
  width: 40%;
  border-radius: 10px 0px 0px 10px;
  border-right: 1px solid #d9d9d9;
  padding: 30px;
  position: relative;
}

.login-left img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* LOGIN RIGHT*/

.login-right {
  width: 60%;
  padding: 30px 5%;
  border-radius: 0px 10px 10px 0px;
  /* display: flex;x */
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
}

.login-right h3 {
  font-size: 32px;
}

/* FORMS */

.form-nacimiento-sexo,
.peso-altura {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
}

label {
  font-size: 18px;
}

/* select {
  padding: 0 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
} */

form input,
select {
  padding: 6px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  height: 40px;
}

input:focus {
  outline: 2px solid #aae8ac;
  border: none;
}

input:focus::placeholder {
  color: transparent;
}

.invalid,
.invalid:focus {
  outline: 2px solid rgb(229, 27, 27);
  border: none;
}

.input-error,
.input-registro-error {
  margin: 5px 0 10px 0;
  color: #797979;
  font-size: 14px;
}

.form-msg {
  margin: 0 0 20px 0;
  background-color: rgb(252, 229, 173);
  color: black;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}

.form-msg i {
  color: black;
}

/* FOOTER */

footer {
  background-color: #2b3035;
  color: white;
}

footer h3,
.footer-section i,
.social-icons i:hover {
  color: #aae8ac;
}

.footer-content {
  padding: 30px 5%;
  flex-wrap: wrap;
}

.footer-section {
  width: 40%;
  flex-direction: column;
  gap: 30px;
}

.social-icons {
  display: flex;
  gap: 30px;
  font-size: 30px;
}

.social-icons i {
  color: rgb(179, 179, 179);
}

.footer-contact {
  margin: 15px 0;
}

.footer-divider {
  height: auto;
  width: 1px;
  border: 1px solid #aae8ac;
}

.footer-bottom p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.no-display {
  visibility: hidden;
}

.hidden {
  display: none;
}
